[submodule "Stanford-OpenIE-Python"]
	path = Stanford-OpenIE-Python
	url = https://github.com/philipperemy/Stanford-OpenIE-Python.git
[submodule "bert"]
	path = bert
	url = https://github.com/rjalmo/bert.git
[submodule "sentiment-discovery"]
	path = sentiment-discovery
	url = https://github.com/NVIDIA/sentiment-discovery.git
